<!--Do not touch this code below this line-->
<div style="font-size: 16px;padding: 10px">
  <h3 style="margin-left: 10px">Create an angular material table with the following instructions:</h3>
  <ul>
    <li>You have been given an Angular setup with all the necessary dependencies already installed.</li>
    <li>Implement an Angular Material table that features pagination with 10 elements per page and sorting functionality.</li>
    <li>Utilize the displayedColumns data provided in the project's JSON file (displayedColumns.json).</li>
    <li>Create a data source for the table using the generator class(bookGenerator.ts).</li>
    <li>Integrate a search box at the top of the table and enable filtering of table data based on the search string, all while preserving the sorting and pagination.</li>
    <li>Ensure that the search box and the table are contained within a single &lt;div&gt;, and that this container is centered both vertically and horizontally.</li>
  </ul>
</div>
<!--Do not touch this code above this line -->

<!--Write your code below-->

<div class="solution"></div>
